In [40]:
# Import the modules
import numpy as np
import pandas as pd
import os
import hvplot.pandas
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [41]:
# Convert csv to dataframe
diabetes_csv = r"C:\Users\stave\OneDrive\Desktop\Bootcamp\Project 4\Resources\50_50_split.csv"
diabetes_binary_df = pd.read_csv(diabetes_csv)
diabetes_binary_df

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0,1,0,1,26,0,0,0,1,0,...,1,0,3,5,30,0,1,4,6,8
1,0,1,1,1,26,1,1,0,0,1,...,1,0,3,0,0,0,1,12,6,8
2,0,0,0,1,26,0,0,0,1,1,...,1,0,1,0,10,0,1,13,6,8
3,0,1,1,1,28,1,0,0,1,1,...,1,0,3,0,3,0,1,11,6,8
4,0,0,0,1,29,1,0,0,1,1,...,1,0,2,0,0,0,0,8,5,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70687,1,0,1,1,37,0,0,0,0,0,...,1,0,4,0,0,0,0,6,4,1
70688,1,0,1,1,29,1,0,1,0,1,...,1,0,2,0,0,1,1,10,3,6
70689,1,1,1,1,25,0,0,1,0,1,...,1,0,5,15,0,1,0,13,6,4
70690,1,1,1,1,18,0,0,0,0,0,...,1,0,4,0,0,1,0,11,2,4
70691,1,1,1,1,25,0,0,1,1,1,...,1,0,2,0,0,0,0,9,6,2

In [42]:
# Drop unnecessary columns
diabetes_binary_df_clean = diabetes_binary_df.drop(columns=['NoDocbcCost', 'GenHlth', 'MentHlth', 'PhysHlth', 'DiffWalk', 'CholCheck'])
diabetes_binary_df_clean

,Diabetes_binary,HighBP,HighChol,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,Sex,Age,Education,Income
0,0,1,0,26,0,0,0,1,0,1,0,1,1,4,6,8
1,0,1,1,26,1,1,0,0,1,0,0,1,1,12,6,8
2,0,0,0,26,0,0,0,1,1,1,0,1,1,13,6,8
3,0,1,1,28,1,0,0,1,1,1,0,1,1,11,6,8
4,0,0,0,29,1,0,0,1,1,1,0,1,0,8,5,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70687,1,0,1,37,0,0,0,0,0,1,0,1,0,6,4,1
70688,1,0,1,29,1,0,1,0,1,1,0,1,1,10,3,6
70689,1,1,1,25,0,0,1,0,1,0,0,1,0,13,6,4
70690,1,1,1,18,0,0,0,0,0,0,0,1,0,11,2,4
70691,1,1,1,25,0,0,1,1,1,0,0,1,0,9,6,2

In [98]:
#Create dataframe with pre-existing conditions and diabetes status
preexisting_binary_df = diabetes_binary_df_clean.filter(['Diabetes_binary', 'HighBP', 'Age', 'BMI', 'Sex'])
preexisting_binary_df

       Diabetes_binary  HighBP  Age  BMI  Sex
0                    0       1    4   26    1
1                    0       1   12   26    1
2                    0       0   13   26    1
3                    0       1   11   28    1
4                    0       0    8   29    0
...                ...     ...  ...  ...  ...
70687                1       0    6   37    0
70688                1       0   10   29    1
70689                1       1   13   25    0
70690                1       1   11   18    0
70691                1       1    9   25    0

[70692 rows x 5 columns]

In [99]:
#Define X and y
y = diabetes_binary_df_clean['Diabetes_binary']
X = diabetes_binary_df_clean.drop(columns='Diabetes_binary')

In [100]:
# Split the dataset using train_test_split

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [101]:
#Create a Logistic Regression Model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

In [102]:
 # Train the data

classifier.fit(X_train, y_train)

c:\Users\stave\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1)

In [104]:
 # Score the model
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.73266187593127
Testing Data Score: 0.7332088496576699

In [94]:
# Predict outcomes for test data set
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

       Prediction  Actual
25002           0       0
45944           1       1
23894           0       0
6931            0       0
39255           1       1
...           ...     ...
43033           0       1
30157           1       0
13101           1       0
47311           1       1
16611           1       0

[17673 rows x 2 columns]

In [95]:
#Calculate Accuracy Score
from sklearn.metrics import accuracy_score
# Display the accuracy score for the test dataset.
accuracy_score(y_test, predictions)

0.7332088496576699

In [96]:
#Create confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[6383, 2530],
       [2185, 6575]], dtype=int64)

In [97]:
#Create Classification Report
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.74      0.72      0.73      8913
           1       0.72      0.75      0.74      8760

    accuracy                           0.73     17673
   macro avg       0.73      0.73      0.73     17673
weighted avg       0.73      0.73      0.73     17673